@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --color-title: #2204a7;
   --color-link: #0c569b;
   --color-link-hover: #0d2841;
   --color-div:  rgba(72, 123, 189, 0.5);
   --color-text: #e6e1e1;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(./images/back-images-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 50px 100px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

.flex {
    display: flex;
}

.title {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-title);

    margin-bottom: 20px;
}

.title-text {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-title);

    margin-top: 20px;
    margin-bottom: 20px;
}

.title-content {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-title);
}

.text {
    color: var(--color-text)
}

.ul-content {
    justify-content: space-around;
}

.div-flex {
    gap: 60px;
}

.div-content {
    width: 800px;
}

.div-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

    color: var(--color-title);
}

.div-info {
    width: 300px;
    height: 350px;

    display: block;

    background-color: var(--color-div);

    padding: 20px 40px;
}

.div-info-hidden {
    display: none; 
}

.div-info-gap {
    gap: 40px;

    margin-bottom: 30px;
}

.div-btn {
    justify-content: center;
    gap: 50px;
}

.btn {
    width: 200px;
    height: 40px;

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;

    background-color: var(--color-div);
    border: 2px solid var(--color-title);
    border-radius: 15px;
}

.input-ask {
    width: 350px;
    height: 40px;

    background-color: var(--color-div);
    border: 2px solid var(--color-title);
    border-radius: 15px;
}

.input-ask-hidden {
    display: none;
}